services:
  # Web Service
  - type: web
    name: waterlab-lims
    env: python
    plan: free
    buildCommand: "./build.sh"
    startCommand: "python manage.py migrate --noinput && gunicorn waterlab.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: DJANGO_SETTINGS_MODULE
        value: waterlab.settings_render
      - key: MEDIA_ROOT
        value: /data/media
      - key: WEB_CONCURRENCY
        value: 4
      - key: SECRET_KEY
        sync: false
      - key: ADMIN_USERNAME
        value: admin
      - key: ADMIN_EMAIL
        value: admin@waterlab.com
      - key: ADMIN_PASSWORD
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: waterlab-db
          property: connectionString
    disk:
      name: uploads
      mountPath: /data
      sizeGB: 1

databases:
  - name: waterlab-db
    plan: free
    databaseName: waterlab_prod
    user: waterlab
